@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
  font-family: "Montserrat";

}

h2{
    margin-top: 100px;
    margin-left: 70px;
    padding-left: 40px;
}

#search-wrapper{
  width: 30%;
  height: 35px;
}

header{
  margin-bottom: 105px;
}
.form-controlrounded{
  width: 80%;
  height: 35px;
  border-color: #eeeee8;
}

.height {
  height: 100vh
}

.form {
  position: relative
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db
}

.left-pan {
  padding-left: 7px
}

.left-pan i {
  padding-left: 10px
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px
}

.form-input:focus {
  box-shadow: none;
  border: none
}

#left-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#left-menu a{
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  color: #009688;
}
p{
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 17px;
  right: 105px;
  color: #009688;
  font-weight: bolder;
}
.fa-solidfa-cart-shopping{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 36px;
  right: 95px;
  color: #009688;
}

span{
  font-size: 40px;
}

#cart-wrapper{
  display: flex;
  width: 7%;
}


#topbar {
  width: 100%;
  box-shadow: 0 2px 5px #ccc;
  background-color: white;
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 8%
}
body{
    font-family: "Montserrat";
  }

  h2{
    margin-top: 100px;
    margin-left: 70px;
    padding-left: 40px;
}

header{
  margin-bottom: 45px;
}


#left-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  span{
    font-size: 40px;
  }
  
  #cart-wrapper{
    display: flex;
    width: 7%;
  }
  
  
  #left-menu a{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    color: #009688;
  }
  p{
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 17px;
    right: 105px;
    color: #009688;
    font-weight: bolder;
  }
  .fa-solidfa-cart-shopping{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 36px;
    right: 95px;
    color: #009688;
  }
  
  #topbar {
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
    z-index: 10;
  
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 8%
  }
  
#section{
  max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  font-family: 'Montserrat', sans-serif;
}


.left-column{
      width: 40%;
}

.right-column{
      width: 60%;
    margin-top: 40px;
    padding-left: 30px;
}

.left-column img {
    width: 100%;
    margin-top: 50px;
}

.product-description{
      margin-bottom: 40px;
}

.product-description h1 {
    font-weight: 300;
    font-size: 44px;
    letter-spacing: -2px;
}
.product-description h4 {
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.product-description h3 span {
    color: #009688;
    font-weight: bold;
}
.product-description h3 {
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
.product-description p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
}

.product-preview .previewImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}
.product-preview .previewImg img {
    margin: 5px;
    width: 15%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}


.active {
border: 2px solid #009688;

}

.btn button {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}
footer {
    width: 100%;
    background-color: #1c1b1e;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 4% 8%;
  }
  .footer-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
  }
  .footer-link {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
  }

